.footer__copyright {
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    color: #545454;
    margin: 0;
}

@media screen and (max-width: 549px) {
    .footer__copyright {
        font-size: 14px;
    }
}