.profile {
  display: flex;
  justify-content: space-between;
  padding-bottom: 51px;
  padding-top: 40px;
}

@media screen and (max-width: 773px) {
  .profile {
    width: calc(100% - (19px + 19px));
    padding: 42px 19px 36px 19px;
    flex-direction: column;
    align-items: center;
  }
}