.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 880px;
    padding-top: 45px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 597px) {
    .header {
        padding-top: 28px;
        padding-bottom: 32px;
        width: 100%;
    }
}